mainproject/Library/assetDatabase3
mainproject/Library/assetDatabase3
*.dwlt
mainproject/Library/expandedItems
mainproject/Library/InspectorExpandedItems.asset
mainproject/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
mainproject/Library/ScriptAssemblies/Assembly-CSharp.dll
mainproject/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
mainproject/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
mainproject/Library/shadercompiler-1.log
mainproject/mainproject.userprefs
Library
Temp
mainproject/Assets/Scenes/Friedhof.unity
mainproject/Assets/Scenes/Friedhof.unity
mainproject/Assets/Scenes/Pyramide.unity
mainproject/Assets/Scenes/Friedhof.unity
